.main-container
	.img.img-1
	.img.img-2
	.img.img-3
	.img.img-4
	.img.img-5
	.title.title-1 San Francisco
	.title.title-2 Hong Kong
	.title.title-3 London
	.title.title-4 New York
	.title.title-5 Tokyo
	
	.info-container
		h3 CSS gallery powered by #[a(href="http://animista.net" target="_blank") Animista.net]
		h4 Appearing animations
		p #[a(href="http://animista.net/play/background/ken-burns/kenburns-top" target="_blank") kenburns-top], #[a(href="http://animista.net/play/background/ken-burns/kenburns-bottom" target="_blank") kenburns-bottom], #[a(href="http://animista.net/play/background/ken-burns/kenburns-left" target="_blank") kenburns-left], #[a(href="http://animista.net/play/background/ken-burns/kenburns-right" target="_blank") kenburns-right]
		p #[a(href="http://animista.net/play/text/focus-in/focus-in-contract" target="_blank") focus-in-contract]
		p #[a(href="http://animista.net/play/entrances/slide-in/slide-in-bottom" target="_blank") slide-in-bottom]
		
		h4 Disappearing animations
		p #[a(href="http://animista.net/play/exits/fade-out/fade-out" target="_blank") fade-out]
		p #[a(href="http://animista.net/play/text/blur-out/text-blur-out" target="_blank") text-blur-out]
	
	.loader-container
		.loader 
		p Loading images...
		
.preloaded

