html{
    background-color: black;
    color: white;
}
.div1{
    background-color: darkmagenta;
    padding: 5px;
    margin-top: 50px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.div2{
    background-color: magenta;
    
}
.div_interno{
    width: 100%;
    box-sizing: content-box;
    background-color:blueviolet;
    border-color: rgb(189, 219, 35);
    border-width: 3px;
    border-style: solid;

 }
 .div3{
     position: fixed;
     width: 300px;
     left: 100px;
     top: 50px;
     background-color: brown;
     color: white;

 }
 .div4{
     width: 500px;
     background-color: blueviolet;
     color: wheat;
 }